.vscode/**
src/**
test/**
test-host/**
dist-test/**
dist-host/**
tsconfig.json
tsconfig.test.json
tsconfig.host.json
esbuild.js
esbuild.test.js
esbuild.host.js
**/*.map
**/*.ts
.gitignore
.vscode-test/**
node_modules/**
